<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
 	<settings>
          <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>
    
    <typeAliases>
    	<!-- 用户 -->
    	<typeAlias type="com.tasteofdata.land.module.user.entry.User" alias="User"/>
    </typeAliases>
    
	<mappers>
	
		<!-- 用户 -->
		<mapper resource="com/tasteofdata/land/module/user/dao/sqlmapper/userMapper.xml"/>
		
	</mappers>
</configuration>