<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tasteofdata.land.module.user.dao.UserMapper">
	<sql id="all_columns">
		id,user_name,email,mobile,password,salt,status,create_time,update_time
	</sql>
	<!-- 根据ID查询用户 -->  
    <select id="selectById" resultType="User">  
        SELECT <include refid="all_columns"/> FROM user WHERE id = #{id}
    </select>
    
    <!-- 根据ID查询用户 -->  
    <select id="selectByUserName" resultType="User">  
        SELECT <include refid="all_columns"/> FROM user WHERE user_name = #{userName}
    </select>
    
    
    <!-- 插入 -->
    <insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="id">
    	INSERT INTO user (user_name,
    	<if test="null!=email">email,</if>
        <if test="null!=mobile">mobile,</if>
        password,salt,status,create_time,update_time)
        VALUES(#{userName},
        <if test="null!=email">#{email},</if>
        <if test="null!=mobile">${mobile},</if>
        #{password},#{salt},0,NOW(),NOW())
    </insert>
    
    <!-- 更新数据 -->
    <update id="updateUser" parameterType="User" >
    	UPDATE user
    	<set>
    		<if test="null!=userName">user_name=#{userName}</if>
    		<if test="null!=email">email=#{email}</if>
            <if test="null!=mobile">mobile=#{mobile}</if>
            <if test="null!=status">status=#{status}</if>
            ,update_time=NOW()
    	</set>
    	<where>
    		id=#{id}
    	</where>
    </update>

    <!-- 更新密码 -->
    <update id="updatePassword">
        UPDATE user SET password=#{newPassword} ,update_time=NOW() WHERE id = #{id}
    </update>
</mapper>